body {background:url(http://i65.tinypic.com/33ue3r6.png) repeat fixed;}

#content {background-color:red;
	width:1000px;
	margin:0 auto;
	text-align:center;
	padding: 10px 0px 10px 0px;}

#header {text-align:center;
	background-color:white; opacity: 0.9;
	width:500px;
	background-color:white;
	margin:5px auto;
	padding-bottom:5px;}

h1 {font-size:50px;}

a:link, a:visited, a:hover {color:black;
	text-decoration:none;
	font-family:Tahoma;
	letter-spacing:2px;
	font-size:12px;}

#extra {background-color:blue;
	width:1000px;
	margin:0 auto;
	text-align:center;
	padding: 10px 0px 10px 0px;
	color:white;
	font-family:century gothic;}

 